header{
    background-image: url('../assets/toniCuencaFormSection.jpg');
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    padding: 20px 0;
    h1{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        width: 50%;
    }
}