// MAIN sections styles....

// FORMsection....
main{
    background-color: $primaryColor;

    // styling the Form section inluding the info above form and the form.........
    // styling related to "FORM" are in "_form.scss"
    .formSection{
        background-image: url('../assets/joannaKosinskaMain.jpg');
        // Image credits: unsplash: Joanna Kosinska
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 20px 0;
        border: $primaryColor 40px double;
        position: relative; 
        // Position relative for the submit button to align at the bottom of the section
        .infoSection{
            width: 75%;
            margin: 0 auto;
        }
        button{
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    // Styling Result section.......
    .resultSection{
        background-image: url('../assets/jeshootsResult.jpg');
        // Image credits: unsplash: Jetshoots.com
        min-height: 700px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        h3{
            text-align: center;
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            width: 35%;
        }
    }
}

