// Media Queries......
@media (max-width: 768px){
    
    // HEADER......
    header{
        background-attachment: scroll;
        h1{
            font-size: 5rem;
            padding-left: 50px;
        }
    }

    // INFO section under main.....
    main .formSection .infoSection{
        width: 100%;
    }

    .infoSection {
        h2{
            font-size: 4rem;
            line-height: 2rem;
            margin: 20px 0;
        }
        p{
            font-size: 1.8rem;
        }
        ul{
            padding: 50px 5px;
            li{
                font-size: 1.8rem;
                padding-left: 30px;
            }
        }
    }

    // Other sections in MAIN.....
    main{
        .sectionForUser{
            width: 100%;
        }
        .resultSection{
            min-height: 500px;
        }
    }

    main .resultSection h3{
        font-size: 3.5rem;
        line-height: 2rem;
        width: 45%;
    }
}