// HEADING styles........
h1{
    @include fontDef($fontDefault, 9rem, 400, 8.4rem, 1.6px);
    color: $primaryColor;
}
h2{
    @include fontDef($fontDefault, 6.4rem, 400, 8.4rem, 1.6px);
    color: $primaryColor;
    text-align: center;
}

// this will be applied to the string showing the result
h3{
    @include fontDef($fontDefault, 4.8rem, 400, 6.4rem, 1.1px);
    color: $resultColor;
    .selectedMatch{
        font-weight: 700;
        text-transform: capitalize;
    }
}


// BODY text styles....
p,
footer,
li{
    @include fontDef($secondaryFont, 2rem ,400 ,3.2rem ,1.1px);
    color: $primaryColor;
    text-align: center;
    a{
        text-decoration: none;
        color: $primaryColor;
    }
}

.infoSection p{
    font-size: 2.5rem; 
}

ul{
    padding: 50px;
    li{
        text-align: left;
    }
}

// For the userInput to display in the list
.userNameInput li{
    @include fontDef($secondaryFont, 2rem ,500 ,3.2rem ,1.1px);
    color: $secondaryColor;
    text-align: left;
    list-style: none;
}

// FORM Typography styles.....
input,
.submit,
.userNameInput{  
    @include fontDef($secondaryFont, 2rem ,400 ,3.2rem ,1.1px);
    color: $secondaryColor;
}

// BUTTON styles...
// Styling the submit/OK buttons.....
.submit{
    color: $primaryColor;
    background-color: $firstAccentColor;
    border: 2px solid $primaryColor;
    border-radius: 2px;
    padding: 5px;
}



// HOVER styles.........
footer a:hover,
a:focus,
a:active{
    border-bottom: 2px solid $primaryColor;
}

.submit:hover,
.submit:focus,
.submit:active{
    font-weight: bold;
    color: $firstAccentColor;
    background-color: $primaryColor;
    border: 2px solid $firstAccentColor;
}